<div tabindex="0" (keyup)="mainClick($event)" [offClick]="clickedOutside" class="ui-select-container dropdown open show"
  style="height:34px;">
  <div class="ui-select-match" *ngIf="!inputMode || isCollapsed">
    <div tabindex="-1" class="ui-select-toggle" (click)="matchClick($event)">
      <div *ngIf="active.length <= 0" style="display: flex;  padding-top: 16px; margin-left: 18px; color: white; cursor: pointer;">
        <i class="fa fa-search"></i>
        <span class="ui-select-title" *ngIf="!isCollapsed">{{title}}</span>
      </div>
      <div *ngIf="active.length> 0" style="display: flex; justify-content:space-between; align-items:center; background-color: white; height: inherit;">
        <span class="ui-select-match-text" [ngClass]="{'ui-select-allow-clear': allowClear && active.length > 0}" [innerHTML]="sanitize(displayValue(active[0].text))"></span>
        <a *ngIf="active.length>0" class="btn btn-xs btn-link pull-right" (click)="removeClick(active[0], $event)">
        <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
  </div>
  <input type="text" autocomplete="false" (keydown)="inputEvent($event)" (keyup)="inputEvent($event, true)" [disabled]="disabled"
    class="form-control ui-select-search" *ngIf="inputMode && !isCollapsed" placeholder="{{active.length <= 0 ? placeholder : ''}}">
  <!-- options template -->
  <ul *ngIf="optionsOpened && options && options.length > 0 && !firstItemHasChildren && inputValue" class="ui-select-choices dropdown-menu">
    <li *ngFor="let o of options" role="menuitem">
      <div class="ui-select-choices-row" [class.active]="isActive(o)" (mouseenter)="selectActive(o)" (click)="selectMatch(o, $event)">
        <a href="javascript:void(0)" class="dropdown-item" (click)="selectMatch(o, $event)">
          <div id="search_item" [innerHtml]="sanitize(o.text | highlight:inputValue)" style="pointer-events:none"></div>
        </a>
      </div>
    </li>
  </ul>
</div>
