  .searchColor {
    display: flex;  padding-top: 16px; margin-left: 18px; color: #79838d; cursor: pointer;
  }
  .searchColor:hover {
    color: #fff;
  }
  .ui-select-toggle {
    position: relative;
    outline: 0;
    height: inherit;
  }
  /* Fix Bootstrap dropdown position when inside a input-group */

  .input-group>.dropdown {
    /* Instead of relative */
    position: static;
  }

  .ui-select-match>.btn {
    /* Instead of center because of .btn */
    text-align: left !important;
  }

  .ui-select-match>.caret {
    position: absolute;
    top: 45%;
    right: 15px;
  }

  .ui-select-choices {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin-top: 0;
    border-radius: 0px;
  }

  .ui-select-choices-row>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
  }

  .ui-select-match .close {
    font-size: 1.6em;
    line-height: 0.75;
  }

  .ui-select-toggle>.caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px;
  }

  .ui-select-match {
    height: 100%;
  }

  .ui-select-match-text {
    padding-left: 16px;
  }

  .ui-select-remove-btn {
    margin-right: 10px;
    padding: 0;
  }

  .ui-select-title {
    margin-left: 22px;
    font-size: 14px;
  }
